.modal-content {
  padding: 2rem;
}

.modal-content p {
  margin-bottom: 0rem;
}

.card:hover {
  cursor: pointer;
}

#bid {
  margin-bottom: 1rem;
}

#bid-list {
  margin-top: 2rem;
}

#add-bid {
  margin-top: 2rem;
}
